name: qonversion_flutter
description: In-App Subscription Infrastructure to grow your subscription business
version: 1.0.1
homepage: 'https://qonversion.io'
repository: 'https://github.com/qonversion/flutter-sdk'

environment:
  sdk: ">=2.1.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        pluginClass: QonversionFlutterSdkPlugin
        package: com.qonversion.flutter.sdk.qonversion_flutter_sdk
      ios:
        pluginClass: QonversionFlutterSdkPlugin
