name: qonversion_flutter
description: In-App Subscription Infrastructure to grow your subscription business
version: 2.5.1
homepage: 'https://qonversion.io'
repository: 'https://github.com/qonversion/flutter-sdk'

environment:
  sdk: ">=2.1.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^4.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.11.1
  json_serializable: ^4.1.0

flutter:
  plugin:
    platforms:
      android:
        pluginClass: QonversionFlutterSdkPlugin
        package: com.qonversion.flutter.sdk.qonversion_flutter_sdk
      ios:
        pluginClass: QonversionFlutterSdkPlugin
      macos:
        pluginClass: QonversionFlutterSdkPlugin
